@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 217, 255;
  --background-start-rgb: 13, 0, 19;
  --background-end-rgb: 0, 0, 0;
}

/* I'll add a dark mode if I really feel like it*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 239, 217, 255;
    --background-start-rgb: 13, 0, 19;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navLinks a::after {
  content: '';
  height: 0.75rem;
  background: #cd86ff;
  position: absolute;
  left: 0;
  bottom: -0.75rem;
  transition: width 0.5s;
}

.navLinks a:hover::after {
  bottom: -0.25rem;
  height: 8%;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
